#
# Copyright (c) 2020 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

source "Kconfig.zephyr"

menu "Nordic FTA config"

config FTA_IPERF3
	bool  "Enable FTA iperf3 support"
    default y

config FTA_SOCK
	bool  "Enable FTA socket tool support"
    default y

config FTA_PING
	bool  "Enable FTA ICMP ping support"
    default y

config FTA_LTELC
	bool  "Enable FTA LTE link control support"
    default y

config FTA_CURL
	bool  "Enable CURL"
    default n

if FTA_IPERF3
menu "FTA iperf3 selections"

config FTA_IPERF3_HOST_NAME
	string "configure host name for iperf3 to be sent as a part of cookie"
	default "nrf9160"

#invisible configs:
config FTA_IPERF3_NONBLOCKING_CLIENT
	bool
    default y

config FTA_IPERF3_FUNCTIONAL_CHANGES
	bool
    default y

endmenu #FTA iperf3
endif #FTA_IPERF3
endmenu #FTA

#menu "Zephyr Kernel"
#source "Kconfig.zephyr"
#endmenu